.body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

.base {
    padding: 5px;
    border: 10px solid;
    border-color: gray;
    border-radius: 5px;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: black;
}

.display {
    padding-right: 5px;
    height: 100px;
    width: auto;
    font-size: 50px;
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    background-color: lightgray;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding-top: 10px;
}
.buttons {
    background-color: black;
    border: 3px solid gray;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    aspect-ratio: 1 / 1; 
    width: 100%;
}

.buttons:nth-child(4n+1),
.buttons:nth-child(4n+2),
.buttons:nth-child(4n+3){
    background-color: rgb(203, 218, 3)
}
.buttons:nth-child(1),
.buttons:nth-child(2),
.buttons:nth-child(3){
    background-color: rgb(155, 1, 160)
}
.buttons:nth-child(4n),
.buttons:nth-child(19n){
    background-color: rgb(255, 153, 0)
}
.buttons:nth-child(17n) {
    grid-column: span 2;
    aspect-ratio: 2/1;
}
.buttons:hover {
    background-color: aqua;
}
.buttons:active {
    background-color: rgb(0, 180, 180);
}